@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #77b914;
  --sub-color: #a0fb17;

  --primary-bg-color: #edffe8;
  --sub-bg-color: #f6f8fd;
  --hover-bg-color: #e6e7ea;

  --primary-text-color: #34364a;
  --sub-text-color: #7a757d;
  --danger-color: #f10000;
  --sub-danger-color: #ff6969;
}

.ProseMirror:focus {
  outline: none;
}

#root {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background: var(--primary-bg-color);
}
